/* Global */
h1, h2, h3, h4, h5, h6
    text-transform: uppercase
a
    text-decoration: none
    &:hover
        text-decoration: none
/* Section */
.start
    height: 100vh
    color: $white
    background-repeat: no-repeat
    background-size: cover
    padding-top: 20%
    &__title
        font-size: 70px
        padding-left: 10%
        padding-right: 10%
    &__description
        font-size: 24px
        margin-top: 30px
    &__btn
        font-size: 20px
        border: 1px solid $white
        border-radius: 100px
        padding: 20px 60px
        width: auto
        margin-left: auto
        margin-right: auto
        color: $white
        transition: .3s
        display: block
        margin-top: 100px
        &:hover
            background: $white
            color: $black
@media (max-width: 992px)
    .start
        padding-top: 40%
        &__title
            font-size: 3rem
            padding-left: 15px
            padding-right: 15px
        &__description
            font-size: 20px
.promo
    padding-top: 50px
    padding-bottom: 50px
    &__img img
        border-radius: 30px
        width: 100%
    &__text
        font-size: 22px
@media (max-width: 992px)
    .promo
        &__text
            font-size: 1rem
