@import 'colors'
@import 'header'
@import 'component'
@import 'footer'

body
    font-family: 'Cormorant', serif
.text-open-sans
    font-family: 'Open Sans', sans-serif
.text-cormorant-sc
    font-family: 'Cormorant SC', serif
